html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  max-width: 1200px;
}

main {
  display: flex;
  flex-direction: column;
}

span {
  color: green;
}

label {
  margin-right: 18px;
}

button {
  display: block;
  margin-top: 12px;
}